<ion-header class="ion-no-border">

    <ion-buttons slot="start">
      <!-- <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button> -->
    </ion-buttons>

</ion-header>

<ion-content>
  <div class="header">

    <img src="assets/img/logo.png" />

  </div>

  <form class="form">
    <h1>Login</h1>
    <ion-input placeholder="Email"></ion-input><br>
    <ion-input type="password" placeholder="Senha"></ion-input>
    <br />
    <ion-button routerLink="/home"expand="block" shape="round" class='login' >Entrar</ion-button>
    <ion-button routerLink="/sign-up" fill ='clear' class='signUp' >Cadastre-se</ion-button>
  </form>
</ion-content>
