<ion-content>
  <div class = "header">
    <img src = "/assets/img/logo.png">
  </div>

  <form class="form">
    <h1>Cadastro</h1>

    <ion-input placeholder="Nome" required></ion-input>
    <br />
    <ion-input placeholder="Email" required></ion-input>
    <br />
    <ion-input placeholder="Senha" required></ion-input>
    <br />
    <ion-input placeholder="Confirmar Senha" required></ion-input>
    <br />


    <ion-button class="cadastrar"shape='round' routerLink='/login'>Cadastrar</ion-button>
    <br />
    <ion-button class="voltar" fill="clear" routerLink='/login'>Voltar</ion-button>

  </form>


</ion-content>
